.yanone-kaffeesatz {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.stoke-light {
    font-family: "Stoke", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.stoke-regular {
    font-family: "Stoke", serif;
    font-weight: 400;
    font-style: normal;
  }

  .headline {
    font-family: "Stoke", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;

}

.byline {
    font-family:"Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 200;
    font-size: x-large;
    text-align: center;
}

.caption {
    font-family: "Stoke", 'Times New Roman', Times, serif;
    color: black;
    font-weight: 100;
    font-size: small;
    text-align: left;
}

.bodytext {
    font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 300;
    font-size: x-large;
}

.pullquotefloat {
    text-align: center;
    font-family: "Stoke", 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #2980b9;
}

.container {
    margin: auto;
    width: auto;
    padding: 10px;
}

.topper {
    margin: auto;
    width: auto;
    padding:10px;
    background-color: black;
    font-family: "Stoke", 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
}

.card-body {
    background-color: black;
    font-family: "Stoke", 'Times New Roman', Times, serif;
    color: whitesmoke;
}


