.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.newsreader-regular {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2B6FD6;
}

.bodytext {
    font-family: "Fjalla One", Arial, Helvetica, sans-serif;
    font-size: medium;
    font-optical-sizing: auto;
    color: black;
}

.title {
    font-family: "Newsreader", Georgia, 'Times New Roman', serif;
    font-optical-sizing: auto;
    color: #2B6FD6;
}

.container {
    margin: 10;
}

.nav-item {
    font-family: "Newsreader", Georgia, 'Times New Roman', serif;
    color:#2B6FD6
}

.nav-item-special {
    font-family: "Newsreader", Georgia, 'Times New Roman', serif;
    color: crimson;
}

@media screen and (max-width: 500px) {
    div {
       background-color:#cdcdcd;
       width:100%;
     }    
     h1 {
       font-size:1.5em;
       font-family:sans-serif;
     }       
     h2 {
       font-size:1em;
       font-family:sans-serif;
     }       
     p {
       font-family:sans-serif;
     }
}