.caption {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 100;
    font-size: small;
    text-align: left;
}

.container {
    margin: auto;
    width: auto;
    padding: 10px;
}

.bodytext {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 100;
    font-size: medium;
}

.headline {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: black;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;

}

.byline {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-weight: 100;
    font-size: medium;
    text-align: center;
}