.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.Headline{
    font-size: 3em;
    color: black;
    text-transform: capitalize;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.Byline{
    font-size: 2em;
    color: gray;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 100%;

}

.Chapter-Headline{
    font-size: 2em;
    color: black;
    text-transform: capitalize;
    margin: 0 auto;
}

.bodytext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    margin: 0 auto;
}

/*THIS IS A CLASS, WHICH IS DIFFERENT FROM AN ID BECAUSE
CLASSES ARE MEANT TO BE REUSED AND REPEATED.*/

.description{
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
    list-style-type: none;
}

.menu li {
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
}

.do{
    margin-top: 5px;
    margin: 0px;
}

.top{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}